# World Population Analysis

Here we are going to analyze world population data:

## Basic 

First imports:

In [1]:
import csv
import pandas as pd
import numpy as np

Data importing:

In [2]:
with open("./world_population.csv") as csvfile:
    reader=csv.reader(csvfile)
    header=next(reader)
    rows=list(reader)

Creating our main data frame:

In [5]:
df=pd.DataFrame(rows,columns=header)
df.columns.name="Header"
df.index.name="Countries"

In [14]:
df.head()

Header,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Countries,,,,,,,,,,,,,,,,,
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.01,0

## Africa

Let's start our analysis with Africa. First we create an african countries DataFrame:

In [7]:
df_africa=df[df["Continent"]=="Africa"]

In [13]:
df_africa.head()

Header,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Countries,,,,,,,,,,,,,,,,,
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
5,42,AGO,Angola,Luanda,Africa,35588987,33428485,28127721,23364185,16394062,11828638,8330047,6029700,1246700,28.5466,1.0315,0.45
21,77,BEN,Benin,Porto-Novo,Africa,13352864,12643123,10932783,9445710,6998023,5133419,3833939,3023443,112622,118.5635,1.0274,0.17
26,144,BWA,Botswana,Gaborone,Africa,2630296,2546402,2305171,2091664,1726985,1341474,938578,592244,582000,4.5194,1.0162,0.03
31,58,BFA,Burkina Faso,Ouagadougou,Africa,22673762,21522626,18718019,16116845,11882888,9131361,6932967,5611666,272967,83.0641,1.0259,0.28

Let's start making questions. Are there countries in Africa within the top 10 more populated countries in the world?

In [10]:
(df_africa["Rank"].astype(np.int64)<=10).any()

True

Which are them?

In [12]:
df_africa[df_africa["Rank"].astype(np.int64)<=10]

Header,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Countries,,,,,,,,,,,,,,,,,
149,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74

Are there countries in Africa with a growth rate lower than 1? Which?

In [17]:
(df_africa["Growth Rate"].astype(np.float64)<1).any()

False

What's South Africa's capital city?

In [26]:
df_africa[df_africa["Country/Territory"]=="South Africa"]["Capital"].values[0]

'Pretoria'