In [84]:
from population_functions import df,header

In [85]:
df.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Countries,,,,,,,,,,,,,,,,,
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.01,0

In [86]:
df.index.name="Countries"
df.columns.name="Header"

In [87]:
df.columns=header

In [88]:
df.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Countries,,,,,,,,,,,,,,,,,
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.01,0

In [89]:
df2=df.copy()

In [90]:
header

['Rank',
 'CCA3',
 'Country/Territory',
 'Capital',
 'Continent',
 '2022 Population',
 '2020 Population',
 '2015 Population',
 '2010 Population',
 '2000 Population',
 '1990 Population',
 '1980 Population',
 '1970 Population',
 'Area (km²)',
 'Density (per km²)',
 'Growth Rate',
 'World Population Percentage']

In [91]:
new_header=['Rank',
 'CCA3',
 'Country/Territory',
 'Capital',
 'Continent',
 'World Population Percentage',
 '2022 Population',
 '2020 Population',
 '2015 Population',
 '2010 Population',
 '2000 Population',
 '1990 Population',
 '1980 Population',
 '1970 Population',
 'Area (km²)',
 'Density (per km²)',
 'Growth Rate']

In [92]:
import pandas as pd
df2=pd.DataFrame(df2,columns=new_header)

In [105]:
df2.head()

,Rank,CCA3,Country/Territory,Capital,Continent,World Population Percentage,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,positive_growth_rate
Countries,,,,,,,,,,,,,,,,,,
0,36,AFG,Afghanistan,Kabul,Asia,0.52,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,True
1,138,ALB,Albania,Tirana,Europe,0.04,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,False
2,34,DZA,Algeria,Algiers,Africa,0.56,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,True
3,213,ASM,American Samoa,Pago Pago,Oceania,0,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,False
4,203,AND,Andorra,Andorra la Vella,Europe,0,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.01,True

In [104]:
import numpy as np
df2["positive_growth_rate"]=np.where(df2["Growth Rate"].values.astype(np.float64)>1,True,False)

In [106]:
df_positive=df2[df2["positive_growth_rate"]]

In [117]:
df_positive[df_positive["Continent"]=="Europe"]

,Rank,CCA3,Country/Territory,Capital,Continent,World Population Percentage,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,positive_growth_rate
Countries,,,,,,,,,,,,,,,,,,
4,203,AND,Andorra,Andorra la Vella,Europe,0,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.01,True
12,99,AUT,Austria,Vienna,Europe,0.11,8939617,8907777,8642421,8362829,8010428,7678729,7547561,7465301,83871,106.5877,1.002,True
19,81,BEL,Belgium,Brussels,Europe,0.15,11655930,11561717,11248303,10877947,10264343,9959560,9828986,9629376,30528,381.8111,1.0038,True
49,158,CYP,Cyprus,Nicosia,Europe,0.02,1251488,1237537,1187280,1129686,948237,788500,679327,640804,9251,135.2814,1.0059,True
51,115,DNK,Denmark,Copenhagen,Europe,0.07,5882261,5825641,5677796,5550849,5340655,5144623,5125392,4922963,43094,136.4984,1.0048,True
65,209,FRO,Faroe Islands,Tórshavn,Europe,0,53090,52415,48816,48410,45660,47479,43054,38416,1393,38.112,1.0038,True
67,118,FIN,Finland,Helsinki,Europe,0.07,5540745,5529468,5479461,5363271,5176209,4986545,4779418,4606621,338424,16.3722,1.0009,True
68,23,FRA,France,Paris,Europe,0.81,64626628,64480053,63809769,62444567,58665453,56412897,53713830,50523586,551695,117.1419,1.0015,True
83,207,GGY,Guernsey,Saint Peter Port,Europe,0,63301,62794,61629,60782,59114,57727,52860,52656,78,811.5513,1.0037,True
90,94,HUN,Hungary,Budapest,Europe,0.12,9967308,9750573,9844246,9986825,10202055,10375989,10698679,10315366,93028,107.1431,1.0265,True
91,179,ISL,Iceland,Reykjavík,Europe,0,372899,366669,331060,318333,281462,255019,228263,204468,103000,3.6204,1.0069,True
96,125,IRL,Ireland,Dublin,Europe,0.06,5023109,4946119,4665760,4524585,3768950,3485374,3391387,2937637,70273,71.4799,1.0073,True
97,202,IMN,Isle of Man,Douglas,Europe,0,84519,84046,83593,83828,75562,68865,64022,55298,572,147.7605,1.003,True
103,195,JEY,Jersey,Saint Helier,Europe,0,110778,108319,100561,96151,86192,82874,75124,68347,116,954.9828,1.0106,True
116,216,LIE,Liechtenstein,Vaduz,Europe,0,39327,38756,37355,35926,33026,28765,25003,21089,160,245.7937,1.0074,True
118,168,LUX,Luxembourg,Luxembourg,Europe,0.01,647599,630399,569408,507070,435628,381267,363741,339342,2586,250.425,1.0129,True
125,173,MLT,Malta,Valletta,Europe,0.01,533286,515357,456579,418755,399212,365392,333587,315414,316,1687.6139,1.0124,True
133,135,MDA,Moldova,Chisinau,Europe,0.04,3272996,3084847,3277388,3678186,4251573,4480199,4103240,3711140,33846,96.7026,1.0691,True
144,71,NLD,Netherlands,Amsterdam,Europe,0.22,17564014,17434557,17041107,16617116,15899135,14944548,14130387,13037686,41850,419.6897,1.0036,True
154,120,NOR,Norway,Oslo,Europe,0.07,5434319,5379839,5190356,4889741,4491202,4241636,4085776,3875546,323802,16.7828,1.0058,True
164,37,POL,Poland,Warsaw,Europe,0.5,39857145,38428366,38553146,38597353,38504431,38064255,35521429,32482943,312679,127.4698,1.0404,True
170,64,ROU,Romania,Bucharest,Europe,0.25,19659267,19442038,19906079,20335211,21919876,22836234,22125224,19922618,238391,82.4665,1.0171,True
189,116,SVK,Slovakia,Bratislava,Europe,0.07,5643453,5456681,5424444,5396424,5376690,5261305,4973883,4522867,49037,115.0856,1.0359,True
190,148,SVN,Slovenia,Ljubljana,Europe,0.03,2119844,2117641,2080862,2057286,1984339,1986024,1901570,1741286,20273,104.5649,1.0002,True
196,30,ESP,Spain,Madrid,Europe,0.6,47558630,47363807,46431342,46572772,40741651,38889889,37491666,33792617,505992,93.9909,1.0015,True
200,87,SWE,Sweden,Stockholm,Europe,0.13,10549347,10368969,9849349,9381729,8871043,8548406,8311763,8027702,450295,23.4276,1.0079,True
201,101,CHE,Switzerland,Bern,Europe,0.11,8740472,8638613,8281732,7822435,7182059,6711693,6319113,6181227,41284,211.7157,1.0056,True
220,21,GBR,United Kingdom,London,Europe,0.85,67508936,67059474,65224364,62760039,58850043,57210442,56326328,55650166,242900,277.9289,1.0034,True

In [115]:
df_positive.loc[4]

Rank                                        203
CCA3                                        AND
Country/Territory                       Andorra
Capital                        Andorra la Vella
Continent                                Europe
World Population Percentage                   0
2022 Population                           79824
2020 Population                           77700
2015 Population                           71746
2010 Population                           71519
2000 Population                           66097
1990 Population                           53569
1980 Population                           35611
1970 Population                           19860
Area (km²)                                  468
Density (per km²)                      170.5641
Growth Rate                                1.01
positive_growth_rate                       True
Name: 4, dtype: object

In [118]:
df2.head()

,Rank,CCA3,Country/Territory,Capital,Continent,World Population Percentage,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,positive_growth_rate
Countries,,,,,,,,,,,,,,,,,,
0,36,AFG,Afghanistan,Kabul,Asia,0.52,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,True
1,138,ALB,Albania,Tirana,Europe,0.04,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,False
2,34,DZA,Algeria,Algiers,Africa,0.56,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,True
3,213,ASM,American Samoa,Pago Pago,Oceania,0,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,False
4,203,AND,Andorra,Andorra la Vella,Europe,0,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.01,True

In [119]:
df2[df2["Country/Territory"]=="Canada"]

,Rank,CCA3,Country/Territory,Capital,Continent,World Population Percentage,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,positive_growth_rate
Countries,,,,,,,,,,,,,,,,,,
35,39,CAN,Canada,Ottawa,North America,0.48,38454327,37888705,35732126,33963412,30683313,27657204,24511510,21434577,9984670,3.8513,1.0078,True